.feed {
  display: flex;
  background-color: var(--bs-white);
  border-radius: 2px;
  width: 100%;
  flex-direction: column;
  padding: 35px;
  gap: 20px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.021);
  box-shadow: 0px 5px 20px 0px rgba(3, 137, 201, 0.21);
  position: relative;
}
.inputBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 230px;
  border-radius: 5px;
}
.close {
  position: absolute;
  right: 3%;
  top: 10%;
  font-size: 20px;
  color: var(--bs-blue);
  cursor: pointer;
}
.bigInput{
  background-color: none;
  width: 100%;
  height: 100%;
  padding: 0% 0% 0% 26%;
  border: none;
  font-size: 20px;
  line-height: 29px;
  font-family: var(--bs-sFont);
}
.gradientsBox {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}
.box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.Upper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}
.Upper h3 {
  text-transform: capitalize;
  color: #51595e;
  font-weight: 700;
}
.feed h5 {
  font-size: calc(11px + (13 - 11) * ((100vw - 320px) / (1920 - 320)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  color: #647589;
  font-weight: 500;
  margin-left: 12px;
  background-color: white;
  border: none;
  gap: 05px;
}
.feed h5 span {
  font-size: 14px;
  margin-top: 4px;
}

.Option {
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 07px;
  background-color: var(--bs-white);
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 05px;
  margin: 10px 0px;
}
.select {
  position: relative;
  cursor: pointer;
}
.OptionShow {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 07px;
  background-color: var(--bs-white);
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 05px;
}
.OptionShow li {
  display: flex;
  gap: 08px;
  align-items: center;
  padding: 8px 10px;
  width: 100%;
  list-style: none;
  color: #647589;
  text-transform: capitalize;
  font-size: calc(11px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
  cursor: pointer;
}
.OptionShow li:hover {
  background-color: #6c757d5c;
}

.OptionShow li:not(:first-child) {
  border-top: 1px solid rgba(100, 117, 137, 0.1);
}

.write {
  background-color: #edf7fb;
  border: none;
  padding: 10px 10px 10px 10px;
  font-size: calc(11px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
  text-transform: capitalize;
  color: #647589;
  border-radius: 5px;
}
.lower {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.option .event {
  display: flex;
  gap: 05px;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
  border-radius: 5px;
  border: 1px solid rgba(100, 117, 137, 0.1);
  position: relative;
  cursor: pointer;
  margin: 4px;
  color: #647589;
  text-transform: capitalize;
  font-weight: 500;
  font-size: calc(11px + (13 - 11) * ((100vw - 320px) / (1920 - 320)));
  cursor: pointer;
  font-family: var(--bs-sFont);
}
.feelingInput{
  position: relative;
  width: 100%;
  margin: 14px 0;
  
}
input[list]::-webkit-calendar-picker-indicator {
  display: none;
}

input[list]::-webkit-input-placeholder {
  color: #999;
}

input[list]::-webkit-datetime-edit, input[list]::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}
.feeling{
  padding: 10px 10px 10px 36px;
  font-size: calc(11px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
  text-transform: capitalize;
  color: #647589;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(100, 117, 137, 0.1);
}
.emoji{
  position: absolute;
  left: 10px;
  top: 5px;
  color: #647589;
  z-index: 1;
  cursor: pointer;
}
.closeFeeling{
  cursor: pointer;
  position: absolute;
  right: 10px;
  z-index: 1;
  top: 10px;
  color: #647589;
}
input[type="text"]::placeholder{
  font-family: var(--bs-sFont);
}

datalist {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
}

option {
  padding: 5px;
}
.chooseImg {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.btn{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}
.postBtn {
  padding: 5px 17px;
  font-size: 12px;
  background-color: var(--bs-darkBlue);
  color: var(--bs-white);
}
